<div class="col-xs-12">
  <div class="col-xs-3">
    <label>Technologies Known: </label>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-12" *ngFor="let technicalServiceData of technicalServiceData">
      <label>
        <b>{{technicalServiceData.technicalSkill}}</b> working from last <b>{{technicalServiceData.technicalWorking}}</b>
        <label *ngIf="technicalServiceData.technicalWorking > 1; else expElse">
          <span> Years</span>
        </label>
        <ng-template #expElse>
          <span> Months</span>
        </ng-template>
      </label>
    </div>
  </div>
</div>